# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ENKI42_LEFT
	def_bool $(shields_list_contains,enki42_left)

config SHIELD_ENKI42_RIGHT
	def_bool $(shields_list_contains,enki42_right)

config SHIELD_ENKI42_DONGLE_PRO_MICRO
	def_bool $(shields_list_contains,enki42_dongle_pro_micro)

config SHIELD_ENKI42_DONGLE_XIAO
	def_bool $(shields_list_contains,enki42_dongle_xiao)
